@font-face {
    font-family: 'UbuntuMono regular';
    src: url('../fonts/UbuntuMono-Regular.ttf');
}

@font-face {
    font-family: 'Playfair';
    src: url('../fonts/Playfair_144pt-Light.ttf');
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}
body {
    font-family: 'UbuntuMono regular', monospace !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    height: inherit;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border-radius: 3px;
}

button {
    outline: none;
}

.header {
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    height: 10vh;
}

.mid-container {
    display: flex;
    gap: 20px;
}

.mid-container > span {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    font-size: 0.8em;
}

.header > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: 'Playfair';
    font-size: 40px;
    cursor: pointer;
    margin-left: .3em;
}

.custom-modal {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 3;
}

.custom-modal-content {
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page {
    padding: 0 10px;
    margin: auto;
    text-align: center;
    height: 90vh;
    overflow-y: scroll;
}

.words-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.themes {
    position: absolute;
    padding: 10px;
    display: flex;
    gap: 10px;
    z-index: 1;
    flex-direction: column;
    left: 0;
    top: 50px;
}

.themes .selected {
    color: red;
}

.input-container {
    display: flex;
    grid-column: 7 / span 3;
}

.word-block {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-transform: uppercase;
    border-radius: 3px;
}

.keyboard-container {
    margin: auto;
    display: grid;
    /* grid-template-columns: repeat(10, 1fr); */
    grid-gap: 8px;
}

.keyboard {
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    height: max-content;
}

.keyboard-line {
    display: flex;
    justify-content: center;
}

.keyboard-letter,
.keyboard-key {
    padding: 14px 20px;
    font-size: 2em;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.help {
    margin-right: 1em;
}

.input-index
.help {
    transition: 0.2s all;
}

.help.up:hover {
    transform: scale(1.3);
}

.help.down {
    opacity: 0.6;
}

.fail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.supp {
    grid-column-start: 9;
    grid-column-end: 11;
}

.enter {
    grid-column-start: 1;
    grid-column-end: 3;
}

.back {
    opacity: 0.2;
}

.end-game-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 25px;
}

.end-game-container img {
    height: 220px;
    width: auto;
}

.answer {
    font-size: 50px;
}

.buttons-block {
    display: flex;
    gap: 20px;
}

button {
    background-color: transparent;
}

.valid {
    background-color: #497d49 !important;
}

.invalid {
    background-color: #46444e !important;
}

.clued {
    background-color: lightblue !important;
}

.in-word {
    background-color: #c4933a !important;
}

.error {
    background-color: #bd4747 !important;
}

.supp {
    background-color: #bd4747 !important;
}

.enter {
    background-color: #497d49 !important;
}

.buttons-block > button {
    background: transparent;
    font-size: 1em;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.keyboard-letter:active,
.keyboard-key:active,
.clear,
.reset,
.help.up,
.username {
    cursor: pointer;
}

.godmode {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Playfair';
}

.reset:hover {
	animation: rotate 0.5s linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media screen and (max-width: 641px) {
    .keyboard-letter,
    .keyboard-key {
        padding: 0;
    }
}


/* -------------- DARK -------------- */

html, body .dark, .dark .page {
    color: #fff !important;
}
html, body .dark:not(.end-game), .dark:not(.end-game) .page {
    background-color: #272236 !important;
}

.dark a {
    color: rgb(0, 100, 200);
}

.dark a:visited {
    color: rgb(0, 80, 160);
}

.dark input,
.dark button,
.dark select,
.dark textarea {
    border: 1px solid #ccc;
}

.dark input:disabled,
.dark .buttons-block > button {
    color: #fff;
}

.dark button {
    color: #333;
}

.dark button:disabled {
    color: #999;
}

.dark button:not(:disabled):active {
    background-color: #ddd;
}

.dark button:focus {
    border-color: #666;
}

.dark .header,
.dark .themes,
.dark .keyboard {
    background-color: #171420;
}

.dark .custom-modal {
    background-color: #00000059;
}

.dark .word-block,
.dark .keyboard-letter,
.dark .keyboard-key {
    background-color: #666;
    color: #fff;
}

.dark .keyboard {
    color: #666;
}

.dark .input-inde,
.dark .help.up,
.clear:hover {
    filter: drop-shadow(0 0 0.55rem #ccc);
}

.dark .help.up:hover {
    filter: drop-shadow(0 0 0.55rem #ffd900);
}

.dark .fail {
    background: #000;
}

.dark.end-game {
    background-color: #25032b;
}

.dark .buttons-block > button:hover {
    color: #000;
    background-color: #fff;
}

.dark .close-def-btn:hover {
    background-color: #fff;
}

.dark .keyboard-letter:active,
.dark .keyboard-key:active {
    background-color: #333;
}

.dark:not(.end-game) .input-index,
.dark .help.up {
    filter: drop-shadow(0 0 0.55rem #ccc);
}
/* -------------- LIGHT -------------- */

html,
body .light:not(.end-game),
.light:not(.end-game) .page {
    color: #222 !important;
    background-color: #ccc !important;
}

.light a {
    color: rgb(0, 100, 200);
}

.light a:visited {
    color: rgb(0, 80, 160);
}

.light input,
.light button,
.light select,
.light textarea {
    border: 1px solid #222;
}

.light input:disabled,
.light .buttons-block > button {
    color: #222;
}

.light button {
    color: #333;
}

.light button:disabled {
    color: #999;
}

.light button:not(:disabled):active {
    background-color: #ddd;
}

.light button:focus {
    border-color: #666;
}

.light .header,
.light .themes,
.light .flame-selector,
.light .keyboard {
    background-color: rgb(146, 146, 146) !important;
}

.light .custom-modal {
    background-color: #2d2d2dc7;
}

.light .word-block,
.light .keyboard-letter,
.light .keyboard-key {
    background-color: #666;
    color: #fff;
}

.light .keyboard {
    color: #666;
}

.light .input-inde,
.light .help.up {
    filter: drop-shadow(0 0 0.55rem #ccc);
}

.light .help.up:hover {
    filter: drop-shadow(0 0 0.55rem #ffd900);
}

.light .fail {
    background: #000;
}

.light.end-game {
    background-color: #c5c5c5;
}

.light .buttons-block > button:hover {
    color: #fff;
    background-color: #000;
}

.light .close-def-btn:hover {
    background-color: #fff;
}

.light .keyboard-letter:active,
.light .keyboard-key:active {
    background-color: #333;
}

.light:not(.end-game) .input-index,
.light .help.up {
    filter: drop-shadow(0 0 0.55rem rgba(34, 34, 34, 0.565));
}
